.titled-pane {
    -fx-text-fill: white;
}
.titled-pane:focused {
    -fx-color: -fx-base;
}
.titled-pane > .title {
    -fx-background-color: #00537D;
    -fx-background-radius: 0;
    -fx-padding: 5 10 5 20;
}

.titled-pane > *.content {
    -fx-border-color: -fx-box-border;
    -fx-border-insets: 0 0 0 0;
    -fx-background-color: white;
}